:root {
    --base-color: rgb(255, 255, 255);
    --text-color:rgb(0, 122, 255);
    --border-color: rgb(0, 122, 255);
    --emph-btn-text-color: rgb(255, 255, 255);
    --emph-btn-bg-color: rgb(0, 122, 255);
    --normal-btn-text-color: rgb(0, 122, 255);
    --normal-btn-hover-text-color: rgb(255, 255, 255);
}

.dark_mode {
    --base-color: rgb(20, 20, 20);
    --text-color: rgb(255, 255, 255);
    --border-color: rgb(255, 255, 255);
    --emph-btn-text-color: rgb(0, 0, 0);
    --emph-btn-bg-color: rgb(255, 255, 255);
    --normal-btn-text-color: rgb(255, 255, 255);
    --normal-btn-hover-text-color: rgb(0, 0, 0);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--base-color);
}

.flex_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: space-evenly;
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    min-width: 100vw;
    min-width: 100dvw;
    user-select: none;
    -webkit-user-select: none;
}

#theme_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}

#theme_switch svg:last-child {
    display: none;
}

.dark_mode #theme_switch svg:last-child {
    display: block;
}

.dark_mode #theme_switch svg:first-child {
    display: none;
}




.top_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    min-height: 10dvh;
    max-height: 10vh;
    max-height: 10dvh;
    min-width: 100vw;
    min-width: 100dvw;
}


.display_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-height: 80dvh;
    max-height: 80vh;
    max-height: 80dvh;
    min-width: 100vw;
    min-width: 100dvw;
}

.display_container .display_counter {
    padding: 0% auto;
    font-family: "Inter", sans-serif;
    font-size: 172px;
    color: var(--text-color);
}

.mid_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    column-gap: 10px;
    min-height: 10vh;
    min-height: 10dvh;
    max-height: 10vh;
    max-height: 10dvh;
    min-width: 100vw;
    min-width: 100dvw;
}

/* UTILITY CLASSES */
.emph_btn {
    background-color: var(--emph-btn-bg-color);
    width: 100px;

    padding: 10% 0;

    border: 1px solid var(--text-color);
    border-radius: 20px;

    font-weight: 300;
    font-size: 16px;
    color: var(--emph-btn-text-color);
    text-align: center;
}

.normal_btn {
    width: 100px;
    padding: 10% 0;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    font-weight: 300;
    font-size: 16px;
    color: var(--normal-btn-text-color);
    text-align: center;
}

.normal_btn:hover {
    background-color: var(--border-color);
    color: var(--normal-btn-hover-text-color);
}

.normal_btn:active {
    background-color: var(--border-color);
    color: white;
}