:root {
    --base-color: white;
    --text-color: #007AFF;
    --border-color: #06C;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-items: space-evenly;
    min-height: 100vh;
    min-height: 100svh;
    min-width: 100vw;
    min-width: 100dvw;
    user-select: none;
    -webkit-user-select: none;
}

.display_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-height: 80dvh;
    min-width: 100vw;
    min-width: 100dvw;
}

.display_container .display_counter {
    padding: 0% auto;
    font-family: "Inter", sans-serif;
    font-size: 172px;
    color: var(--text-color);
}

.mid_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    column-gap: 10px;
    min-height: 10vh;
    min-height: 10dvh;
    min-width: 100vw;
    min-width: 100dvw;
}

/* UTILITY CLASSES */ 
.emph_btn {
    background-color: var(--text-color);
    width: 100px;
    
    padding: 10% 0;

    border: 1px solid var(--text-color);
    border-radius: 20px;

    font-weight: 300;
    font-size: 16px;
    color: white;
    text-align: center;
}

.normal_btn {
    background-color: white;
    width: 100px;
    
    padding: 10% 0;

    border: 1px solid var(--text-color);
    border-radius: 20px;

    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
}

.normal_btn:hover {
    background-color: var(--border-color);
    color: white;
}

.normal_btn:active {
    background-color: var(--border-color);
    color: white;
}